:root {
  --primary: #d35d2f;
  --darkkale: #303e41;
  --white: #ffffff;
  --light: #f8f9fa;
  --lightmint: #f6f9f7;
  --sage: #59805b;
  --complimentary: #17a2b8;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "MyFont";
  -ms-overfflow-style: none;
  scrollbar-width: none;
  font-family: "Noto Sans JP", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
